*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #E5F6FE;

    #nav{
        padding: 0vw 3vw 0vw 1vw;
        height: 11vh;
        width: 100%;
        background-color: white;
        display: flex;
        align-items:center;
        justify-content: space-between;

        .nav-left{
            height: 100%;
            // width: 20%;
            display: flex;
            align-items:center;
            justify-content: center;
            gap: 5px;

            img{
                height: 90%;
                width: 20%;
                object-fit: cover;
                object-position: center;
            }

            p{
                margin-top: 5px;
                font-size: 1.2vw;
                color: #0A81E1;
                font-weight: 600;
                line-height: 1;
                letter-spacing: 0.2px;

                span{
                    font-size: 0.9vw;
                    font-weight: 400;
                    margin-bottom: 5px;
                }
            }

            
        }



        #nav-elements{
            width: 30%;
            display: flex;
            align-items:center;
            justify-content: center;
            gap: 15px;
            font-weight: 100;
            font-size: 1.5vw;

            p{
                transition: 0.3s;
                cursor: pointer;
            }
            
            p:hover{
                color: rgba(8, 143, 233, 0.699);
                scale: 1.1;
            }
        }
    }

    #hero{
        height: 90%;
        width: 100%;
        position: relative;


        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

        #hero-content {
            position: absolute;
            top: 45%;
            left: 8%;
            transform: translateY(-50%);
            color: white;
            max-width: 70;
        

            #tag {
                display: inline-flex;
                align-items: center;
                background: #ffcc00;
                color: #000;
                padding: 0.6vw 1.3vw;
                border-radius: 20px;
                font-weight: 600;
                margin-bottom: 5vh;
                font-size: 1.5vw;
            }

            .icon {
                margin-right: 6px;
            }

            h1 {
                font-size: 5VW;
                line-height: 1.2;
                font-weight: 700;
                margin-bottom: 20px;

                span {
                    color: #ffd900;
                }
            }

            P {
                font-size: 1.5VW;
                width: 70%;
                margin-bottom: 30px;
            }
        

            .buttons {
                display: flex;
                gap: 15px;

                .btn {
                    padding: 1vw 1.5vw;
                    border-radius: 6px;
                    font-size: 1.7vw;
                    text-decoration: none;
                    font-weight: 600;
                    display: inline-block;
                    transition: all 0.25s ease; 
                }

                .subscribe {
                    background: #ffcc00;
                    color: black;
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

                    &:hover {
                        background: #e6b800;
                        transform: translateY(-2px);
                        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.168);
                    }
                }


                .order {
                    background: white;
                    color: black;
                    border: 2px solid white;

                    &:hover {
                        // background: transparent;
                        // color: white;
                        border-color: white;
                        transform: translateY(-3px);
                    }
                }
            }
        }
    }

}
