/* variables */
$bg-gradient: linear-gradient(135deg, #C1E7FF, #ccf5ffb6);
$primary: #8ad4ff;
$primary-hover: #61baff;
$text-dark: #1F2937;
$text-muted: #6B7280;
$text-light: #4B5563;
$border: #E5E7EB;
$focus: #8ad8ff;
$radius-sm: 8px;
$radius-md: 10px;
$radius-lg: 18px;

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

html,
body {
  height: 100%;
  width: 100%;
}

body.swal2-shown {
  padding-right: 0 !important;
}
html {
  overflow-y: scroll;
}


.hidden{
  display: none;
}

/* page */
.signup-page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $bg-gradient;

  .signup-card {
    width: 380px;
    background: white;
    border-radius: $radius-lg;
    padding: 35px 30px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);

    h2 {
      color: $text-dark;
      font-size: 1.8vw;
      margin-bottom: 8px;
      text-align: center;
    }

    .subtitle {
      text-align: center;
      color: $text-muted;
      font-size: 0.9vw;
      margin-bottom: 25px;
    }

    .field {
      margin-bottom: 18px;

      label {
        display: block;
        font-size: 0.9vw;
        color: $text-dark;
        margin-bottom: 6px;
      }

      input {
        width: 100%;
        padding: 12px 14px;
        border-radius: $radius-sm;
        border: 1px solid $border;
        outline: none;

        &:focus {
          border-color: $focus;
        }
      }

      p{
        font-size: 12px;
        margin-top: 3px;
        text-align: center;
        
      }
    }

    .password-box {
      display: flex;
      align-items: center;
      border: 1px solid $border;
      border-radius: $radius-sm;
      padding-right: 12px;

      input {
        border: none;
        flex: 1;
      }

      i {
        color: #9CA3AF;
        cursor: pointer;
      }

      &:focus-within {
        border-color: $focus;
      }
    }

    .btn-primary {
      width: 100%;
      padding: 13px;
      border-radius: $radius-md;
      border: none;
      background: $primary;
      color: $text-dark;
      font-size: 1vw;
      font-weight: 600;
      cursor: pointer;
      margin-bottom: 14px;
      transition: 0.2s;

      &:hover {
        background: $primary-hover;
      }
    }

    .btn-google {
      width: 100%;
      padding: 12px;
      border-radius: $radius-md;
      border: 1px solid $border;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: 0.95vw;
      cursor: pointer;

      &:hover {
        background-color: #eeefff;
      }

      img {
        height: 18px;
      }
    }

    .footer-text {
      text-align: center;
      margin-top: 18px;
      font-size: 0.85vw;
      color: $text-light;

      span {
        color: #8abfff;
        font-weight: 600;
        cursor: pointer;
      }
    }

    .otp-section {
      margin-top: 10px;
      text-align: center;

      h3 {
        font-size: 1.3vw;
        color: $text-dark;
        margin-bottom: 8px;
      }

      .otp-text {
        font-size: 0.85vw;
        color: $text-muted;
        margin-bottom: 18px;
      }

      input {
        width: 100%;
        padding: 12px 14px;
        border-radius: $radius-sm;
        border: 1px solid $border;
        outline: none;
        text-align: center;
        letter-spacing: 6px;
        font-size: 1.1vw;
        margin-bottom: 16px;

        &:focus {
          border-color: $focus;
        }
      }

      .resend-text {
        font-size: 0.8vw;
        color: $text-muted;
        margin-top: 10px;

        span {
          color: #8abfff;
          font-weight: 600;
          cursor: pointer;

          &.disabled {
            color: #9ca3af;
            cursor: not-allowed;
          }

        }
      }

      .otp-timer {
        font-size: 0.8vw;
        color: $text-muted;
        margin-bottom: 12px;

        span {
          font-weight: 600;
          color: $text-dark;
        }
      }

    }
  }
}
