/*------------------------------------------- ALL FONTS ------------------------------------------*/

@font-face {
  font-family: "Mukta Vani";
  src: url("../assets/fonts/MuktaVani/MuktaVaani-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Mukta Vani bold";
  src: url("../assets/fonts/MuktaVani/MuktaVaani-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/*------------------------------------------- ALL FONTS ------------------------------------------*/


/*------------------------------------------- IMPORT OTHER PAGES SCSS ------------------------------------------*/

@import "login";
@import "signup";
@import "admin";

/*------------------------------------------- IMPORT OTHER PAGES SCSS ------------------------------------------*/



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.lang-guj{
  font-family: "Mukta Vani", sans-serif;
}

/* Language switch micro-animation */
body.lang-switching {
  pointer-events: none;
}

body.lang-switching [data-i18n] {
  opacity: 0.85;
  transition: opacity 150ms ease-out;
}

[data-i18n] {
  transition: opacity 150ms ease-out;
}


#main{
    height: 100%;
    width: 100%;
    background: linear-gradient(#F6FAFF, #FFF8EE);

    @import "navHero";


    @import "products";


    @import "delivery";


    @import "footer";

}